<div ng-controller='BlastController'>
  <a href='#/main'>Student Dashboard</a> | <a href='#/update'>Update Students</a> | <a href='#/cohort'>Manage Cohorts</a>
  <hr>
  <div class='row'>
    <div class="input-field col s4">

      <p ng-bind-html='blast.text'></p>


      <textarea id='textarea_custom' class='materialize-textarea' ng-model='blast.text'></textarea>
      <button class="btn waves-effect waves-light" type='submit' value='Blast it!' ng-click='changeBlast()'>
        Blast it!
      </button>

      <p>
        HTML is allowed on this input, please use responsibly!
      </p>
    </div>
  </div>


</div>
