<div ng-controller='StudentController'>
  <a href='#/main'>Student Dashboard</a> | <a href='#/update'>Update Students</a> | <a href='#/cohort'>Manage Cohorts</a>
  <hr>
  <div class='row'>
    <div class='col s2'>
      <!-- <div class='student_box' style='display: inline-block'> -->
          <img ng-src='{{ student.img }}' style='width: 200px; height: 200px' />
      <table>
        <tr>
          <td>Name:</td>
          <td ng-bind='student.name'></td>
          <td><input type='text' ng-model='student.name' ng-change='hasChanged()'></td>
        </tr>
        <tr>
          <td>Start Date:</td>
          <td ng-bind='student.cohort | date: MM'></td>
          <td>
            <select ng-model='student.cohort' ng-change='hasChanged()'>
              <option value='' selected disabled>Start Date</option>
              <option ng-repeat='cohort in cohorts'>{{ cohort.date | date: MM }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>First Stack:</td>
          <td ng-bind='student.first_stack.stack'></td>
          <td>
            <select ng-model='student.first_stack.stack' ng-change='hasChanged()'>
              <option value='' selected disabled>First Stack?</option>
              <option>LAMP</option>
              <option>Python</option>
              <option>iOS</option>
              <option>Ruby on Rails</option>
              <option>MEAN</option>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Second Stack:</td>
          <td ng-bind='student.second_stack.stack'></td>
          <td>
            <select ng-model='student.second_stack.stack' ng-change='hasChanged()'>
              <option value='' selected disabled>Second Stack?</option>
              <option>LAMP</option>
              <option>Python</option>
              <option>iOS</option>
              <option>Ruby on Rails</option>
              <option>MEAN</option>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Third Stack:</td>
          <td ng-bind='student.third_stack.stack'></td>
          <td>
            <select ng-model='student.third_stack.stack' ng-change='hasChanged()'>
              <option value='' selected disabled>Third Stack?</option>
              <option>LAMP</option>
              <option>Python</option>
              <option>iOS</option>
              <option>Ruby on Rails</option>
              <option>MEAN</option>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Black Belt?</td>
          <td ng-bind='student.black_belt'></td>
          <td><input type="checkbox" ng-model='student.black_belt' ng-click='hasChanged()' ></td>
        </tr>
        <tr>
          <td>Residency?</td>
          <td ng-bind='student.resident'></td>
          <td><input type="checkbox" ng-model='student.resident' ng-click='hasChanged()' ></td>
        </tr>
      </table>
      <p> {{ flash }} </p>
    </div>
  </div>



</div>
