#main {
	background-color: #09090A;
	color: #EBE7D9;
}

/*p {
  font-size: 14px;
}*/

.student_box{
  word-wrap: break-word;
  height: 0px;
  width: 10%;
  margin: 2px;
  padding: 5px;
  /*border: 1px solid silver;*/
}

.blast {
	float: right;
	/*border: 1px solid silver;*/
	padding: 5px;
	margin-bottom: 0px;
}

#textarea_custom {
	font-weight: lighter;
}

option input {
	color: black;
}
/*#game_info {
	margin-left: 25%;
	margin-top: -9%;
}*/
