#main {
	background-color: #09090A;
	color: #EBE7D9;
}

p {
  font-size: 14px;
}

.student_box{
  word-wrap: break-word;
  height: 0px;
  width: 150px;
  margin: 2px;
  padding: 5px;
  /*border: 1px solid silver;*/
}
/*#game_info {
	margin-left: 25%;
	margin-top: -9%;
}*/
